.products{
   width: 1332;
   height: 826px;
   display: flex;
   justify-content: center;
  border: 2px solid lightgray;
  border-radius: 15px;
   margin-top: 20px;
   .product-header{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 5px;
    img{
        width: 22px;
    height: 16px;
    margin-top: 5px; 
    }
    span{
        font-family: var(--fontfamily);
        font-size: 17px;
        font-weight: normal;
   }
}
.product-items{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    
    .images-1{
        width: 150px;
        height: 150px;
        display: flex;
        

    }
    .text-1{
       
        display: flex;
        margin-top: 155px;
        position: absolute;
        
        span{
            font-family: var(--fontfamily);
            font-size: 10px;
            
            img{
                width: 16px;
                height: 16px;
                margin-top: 15px;
            
            }
        }
        
    }
    .products-center{
        display: flex;
        position: absolute;
        margin-top: 250px;
        .images-center{
            width: 150px;
            height: 150px;
            display: flex;
            margin-left: 10px;
        }
        .text-center{
            display: flex;
            position: absolute;
            margin-top: 150px;
            margin-right: 50px;
            span{
                font-family: var(--fontfamily);
                font-size: 10px;
                img{
                    width: 16px;
                    height: 16px;
                    margin-top: 15px;
                
                }
            }
        }
    }
    
}


}